:root {
  --color1: rgba(0, 0, 0, 0.87);

  color-scheme: light dark;
  color: var(--color1);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-custom {
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 0.9),
    rgba(37, 117, 252, 0.9)
  );
}

html {
  scroll-padding-top: 76px;
  scroll-behavior: smooth;
}

.navbar-brand img {
  width: auto;
  height: 50px;
}

.container img {
  transition: transform 0.3s;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); */
}
.container img:hover {
  transform: scale(1.05);
}

h1 {
  font-weight: bold !important;
  font-size: 400%;
}

h2 {
  font-weight: bold !important;
  font-size: 200%;
}

h3 {
  font-style: italic !important;
  font-size: 125%;
}

.retro-button {
  background: rgb(183, 183, 183);
  border: none;
  border-radius: 0;
  /* box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf; */
  box-shadow: inset -2px -2px #0a0a0a, inset 1px 1px #0a0a0a, inset 2px 2px #fff,
    inset -3px -3px grey, inset 3px 3px #dfdfdf;
  box-sizing: border-box;
  min-height: 23px;
  min-width: 75px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;

  color: black;
  text-shadow: 0 0 #222;
  text-decoration: none;
  margin: 5px;
}

.retro-button:hover {
  background-color: #cfcfcf;
  cursor: pointer;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
}

.retro-button:active {
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a,
    inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/%3E%3C/svg%3E");
  background-position: top 2px right 2px;
  background-repeat: no-repeat;
  border-radius: 0;
  padding-right: 32px;
  position: relative;
}
